@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header{
    background-color: #ad2831;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    margin: 0 10px;
    width: fit-content;
}

.menu {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    gap: 40px;
    display: inline-flex;
    margin: 0 10px;
}

.menu .botao{
    
    color: aliceblue;
    display: flex;
}

main{
    background-color: #250902;
    width: 100%;   
     
}

.banner .imagem-banner{
    width: 100%;
}

.curiosidade{
    color: aliceblue;
    margin: 20px 10px 5px 20px;
    font-family: 'Roboto', sans-serif;
}

section{
    display: flex;
    
}
.card{
    display: inline-block;
    margin: 20px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
}

.card .image {
    width: 100%;
    height: auto;
    
}
.card h1 {
    font-family: 'Nunito', sans-serif;
    display: block;
    padding: 0 70px;
    
}

button{ 
        background-color: #ad2831;
        color:black;
        display: block;
        margin:  auto;
}

h2{
    display: block;
    color: aliceblue;
    margin: 20px 10px 5px 20px;
    font-family: 'Roboto', sans-serif;
}

.video .supernatural {
    width: 727px; height: 409px;
    display: block; 
    margin: 0  auto;
}
footer{
    height: 414px;
    display: inline-flex;
    width: 100%;
    
    
}
.rodape{
    margin: auto auto;
}
.icon{ 
    
    width: 141px;
    height: 141px;
    margin: 0 100px;
}

@media(max-width: 425px) {
    header {
        height: fit-content;
        flex-direction: column;
        
    }
    .logo{
        width: 50%;
        margin: 0 auto;
    }
    .menu {
        margin: 0 auto;
        flex-direction: column;
    }
    section {flex-wrap: wrap;}
    .video { 
        display: flex;
       width: 200px; 
    }
    footer{width: 100%;
    height: fit-content;
    flex-direction: column;}
    
.icon{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }
}