@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;700&display=swap');
        
        /* Estilos CSS para formatar o placar */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    width: 100%;
}

.titulo{
    background-color: #ffffff;
    color: brown;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    font-size: xx-large;

}

.placar {
    display: inline-block;
    background-image: url(https://i.pinimg.com/564x/66/2e/e4/662ee499518ebbc21209b4aa0dfd8426.jpg);

}

.jogo{
    display: inline-block;
}
.time{
    display: inline-flex;
    margin: 10px;
    width: 30px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    font-size: x-large;
}


#grifinoria{
    background-color: #ba181b;
}

#grifinoria .nome-time {
    color:#edc531;
    display: block;
    margin:  auto;

}

#grifinoria .placar-time{
    color: #edc531;
    display: block;
    margin:  auto;
}

#lufa{
    background-color: #ffd819;
}

#lufa .nome-time {
    color: black;
    display: block;
    margin:  auto;

}

#lufa .placar-time{
    color: black;
    display: block;
    margin:  auto;
}

#corvinal{
    background-color: #03045e;
}

#corvinal .nome-time {
    color: #ffba9e;
    display: block;
    margin:  auto;

}

#corvinal .placar-time{
    color: #ffba9e;
    display: block;
    margin:  auto;
}

#sonserina{
    background-color: #004b23;
}

#sonserina .nome-time {
    color: #ced4da;
    display: block;
    margin:  auto;

}

#sonserina .placar-time{
    color: #ced4da;
    display: block;
    margin:  auto;
}

.butao{
    display: block;
    margin:  auto;
}

button{ 
    background-color: #ffffff;
    color:black;
    display: block;
    margin:  auto;
    font-size: x-large;
}
@media(max-width: 425px) {
  
    body {flex-wrap: wrap;}
    .time {width: 50%;
    height: fit-content;
    flex-direction: column;}
    }