@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Mono:ital,wght@1,300&display=swap');

/* Cabeçalho */

.cabeçalho {
    z-index: 2;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    background-color: #000000b8;

}

.navbar-toggler {
    background-color: #910000 !important;

}

.custon-nav-link {
    color: white !important;
}

.custon-nav-link :hover {
    font-size: larger !important;
    color: #910000 !important;

}

.custon-nav-btn {
    background-color: black !important;
    color: #910000 !important;
    font-weight: 500 !important;
}

.custon-nav-btn:hover {
    background-color: #910000 !important;
    color: black !important;
    font-weight: 500 !important;
    font-size: large !important;
}



/* .fundo-carosel{

    height: 100vh;

}
.fundo-carosel .carousel, .fundo-carosel .carousel-item, .fundo-carosel .carousel-item img{
    height: 100%;

}
.fundo-carosel .carousel-item img{

    object-fit: cover;
    object-position: left;
} */

/* sessão principal */

.sessao-principal {

    justify-content: center;
    /* background-color: #4c4c4c; */
    background-color: #000000;
}


.card {
    width: 290px;
    height: 460px;
    background-color: #1f1f1f !important;
    color: aliceblue !important;
}

.sessao-principal h1 {
    padding: 25px;
    font-size: 50px;
    color: #f8f7f7;
    text-align: center;
    font-weight: 500;

}

.sessao-series {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-bottom: 25px;

}

.card-title {
    text-align: center;
    font-size: 30px;
    color: #910000;

}

.sessao-series img {
    width: auto;
    height: 160px;
}

.card-body {
    /* width: 280px; */
    height: 300px;
}
.btn-primary{
    background-color: #980000 !important;
    margin: 10px 65px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Roda pé */

.roda-final {

    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Roboto Mono', monospace; */
    padding: 20px 0px;
    color: white;
    font-size: 15px;
    background: #212121;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sobre-rodrigo {
    text-align: center;
    display: block;
    width: 300px;
}

.icone-rodrigo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sobre-jona {
    text-align: center;
    display: block;
    width: 300px;
}

.icone-jona {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sobre-vivi {
    text-align: center;
    display: block;
    width: 300px;
}

.icone-vivi {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ultima-linha {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #fff9f9;
    background: #0f0f0fec;
    padding: 11px;

}

@media(max-width:768px) {

    .cabeçalho {
        position: fixed;
        padding-left: 10px;
        padding-right: 20px;
    }

    .imagem-fundo {
        display: flex;
        justify-content: center;
        height: 430px;
    }
}