@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
main{
    background-color: #000000;

}
/* Cabeçalho */

.cabeçalho {
    z-index: 2;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    background-color: #000000b8;

}

.navbar-toggler {
    background-color: #910000 !important;

}

.custon-nav-link {
    color: white !important;
}

.custon-nav-link :hover {
    font-size: larger !important;
    color: #910000 !important;

}

.custon-nav-btn {
    background-color: black !important;
    color: #910000 !important;
    font-weight: 500 !important;
}

.custon-nav-btn:hover {
    background-color: #910000 !important;
    color: black !important;
    font-weight: 500 !important;
    font-size: large !important;
}

.banner{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* sinopse série */
.serie{ 
    position: relative;
    margin: 20px;
    color: white;
    padding: 80px 0;
}
h1{
    text-align: center;
    margin: 20px 0 0 20px;
    color: #910000;
    font-family: 'Nunito', sans-serif;
}
p{
    text-align: center;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
}

/* colunas com curiosidades */
.curiosidade{
    background-color: #980000 !important;
    width: 100%;
    justify-content: center;
    
}

.titulo-curiosidade{
    display: flex;
    margin: 10px 20px;
    color: white !important;
}

.paragrafo{
    display: flex !important;
    width: 100%;
    color: white !important;
    
}

.box{
    display: flex !important;
    width: 50%;
    margin: auto !important;    
}

.video{
    color: white;
    margin: 20px;
    padding: 80px 0;
}

.vd{
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 790px;
}

/* Roda pé */

.roda-final {

    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Roboto Mono', monospace; */
    padding: 20px 0px;
    color: white;
    font-size: 15px;
    background: #212121;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sobre-rodrigo {
    text-align: center;
    display: block;
    width: 300px;
}

.icone-rodrigo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sobre-jona {
    text-align: center;
    display: block;
    width: 300px;
}

.icone-jona {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sobre-vivi {
    text-align: center;
    display: block;
    width: 300px;
}

.icone-vivi {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ultima-linha {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #fff9f9;
    background: #0f0f0fec;
    padding: 11px;

}

@media (max-width:768px) {

    .banner {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .vd {

        width: 100%;
        height: 400px;
        object-fit: cover;
    }

}

@media (max-width:560px) {
    .vd {

        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

@media(max-width:425px) {
    .vd {
        width: 100%;
        height: 240;
        object-fit: cover;
    }

}
