*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

form{
    display: block;
    width: 50%;
    gap: 20px;
    margin: 50px auto;
    background-color: rgb(113, 115, 116);
    padding: 5px ;
    border-radius: 20px;
}

input{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(138, 136, 136);
    color: black;
    margin: 5px auto;
    height: 30px;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
}

.descricao{
    
    height: 100px;
    color: rgb(0, 0, 0);

}

::placeholder{
    color: black;
}

div input .error{
    color: #ad2831;
}
small{
    display: none;
}



button{ 
    background-color: #ad2831;
    color:black;
    display: block;
    padding: 5px;
    margin: auto 87%;
    border-radius: 8px;
}

button:hover {
    background-color: #ffffff;
    color: #ad2831;
  }

.container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    width: 200px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    color: #ad2831;

}

.card .image {
    width: 100%;
    height: auto;
}

.card h3{
    text-align: center;
}

p{
    text-align: center;
}

@media(max-width: 500px) {
    
    form{
        width: 90%;
    }
    button {
        margin: 0 auto;
        width: 100%;
    }
}