@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 578px;
  left: 290px;
  top: 72px;
  /* background: #151515; */
  border-radius: 12px;

}

body {
  background-color: rgb(219, 219, 219);
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  width: 360px;
  height: 512px;
  background-color: white;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 5px solid lightgray;
}

h1 {
  padding: .1em 1em;
  width: 400px;
  height: 40px;
  background-color: white;
  border-bottom: 5px solid lightgrey;
  color: grey;
}

img {
  width: 100%;
  border-radius: 10px;
}

h2 {
  font-size: 1em;
  margin-bottom: .2em;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: black;
}


/* ------------------------------ Estilos para o tema escuro (Dark-Mode) ----------------------------------------------- */


.body-dark {
  background-color: rgb(39, 39, 39);
}

.h1-dark {
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
  border-color: black;
}

.cards-dark {
  background-color: rgb(19, 19, 19);
  border-color: black;
}

.h2-dark {
  color: rgb(230, 230, 230);
}

.p-dark {
  color: rgb(230, 230, 230);
}
@media (max-width:1023px){

  main {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header {
  text-align: center;
}

}